<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isConsumable</key>
		<true/>
		<key>productId</key>
		<string>ttpk.snap</string>
	</dict>
	<dict>
		<key>isConsumable</key>
		<true/>
		<key>productId</key>
		<string>ttpk.fly</string>
	</dict>
	<dict>
		<key>isConsumable</key>
		<false/>
		<key>productId</key>
		<string>ttpk.car</string>
	</dict>
</array>
</plist>
